<div class="col-lg-8 center" >

   <h1>Editing Task</h1>

   <%= render 'form', project: @project, sprint: @sprint,  task: @task %>

   <%= link_to 'Show', [@project,  @sprint,  @task], class: 'btn btn-info' %>
   <%= link_to 'Back', [@project,  @sprint], class: 'btn btn-default' %>
<div class="col-lg-8 center" >
