<div class="col-lg-8 center" >

  <h1>New Task </h1>

  <%= render 'form', project: @project, sprint: @sprint,  task: @task %>

  <%= link_to 'Back', [@project,  @sprint], class: 'btn btn-default' %>
</div>
