<div class="col-lg-8 center" >

  <h1>Editing Sprint</h1>

  <%= render 'form', sprint: @sprint %>
  <div class='pull-right' >
    <%= link_to 'Show', @sprint, class: 'btn btn-info' %>
    <%= link_to 'Back', sprints_path,class: 'btn btn-default' %>
  </div>
</div>
