<div class="col-lg-8 center" >

  <h1>Editing Sprint</h1>

  <%= render 'form', project: @project, sprint: @sprint %>
  <div class='pull-right' >
    <%= link_to 'Show', [@sprint.project, @sprint], class: 'btn btn-info' %>
    <%= link_to 'Back', @sprint.project, class: 'btn btn-default' %>
  </div>
</div>
