<div class="col-lg-8 center" >

  <h1>New Project</h1>

  <%= render 'form', project: @project %>
  <div class='pull-right' >
    <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
  </div>
</div>
